In [2]:
import pandas as pd
import numpy as np

In [4]:
width = pd.read_csv('N:\\bandera\GIS\Intersect_MAN.csv')

In [5]:
width.head(5)

   keyman     heading     length
0       1  432.257263  49.999986
1       2  355.762207  15.970360
2       3  289.011902  18.414908
3       4  273.227387  17.759665
4       4  273.227387  12.740908

In [6]:
width.groupby('keyman').sum()

           heading     length
keyman
1       432.257263  49.999986
2       355.762207  15.970360
3       289.011902  18.414908
4       546.454773  30.500572
5       705.372375  30.922796
6       543.621704  30.119842
7       709.983154  29.987797
8       543.704651  29.970359
9       707.604797  30.524197
10      545.307007  30.205787
11      290.861359  18.618315
12      639.830261  11.671712
13      290.987732  19.908398
14      447.766144  42.421337
15      707.970093  35.095815
16      758.283997  43.471505
17      579.004700  40.909929
18      708.568848  31.654263
19      709.503418  29.725316
20      376.520966  21.417722
21      715.051758  31.271249
22      894.614258  43.705464
23      290.181641  19.762129
24      890.455872  29.978223
25      887.825195  40.852763
26      708.030457  41.075675
27      888.421509  25.002015
28      887.684814  41.604935
29      706.930481  28.006966
30      889.027344  29.837683
...            ...        ...
4292    367.207886  14.010817
4295    705.553955  35.181797
4296    717.036804  26.739740
4297    288.711792   0.262377
4298    356.460205  19.883937
4299    289.867371   1.613107
4304    710.465515  18.823122
4312    276.834259  14.714256
4314    430.449219  10.273627
4315    428.451172  13.969402
4316    431.460083  50.000089
4317    858.839722  38.559408
4318    850.602295  43.006386
4319    848.962708  29.822223
4320    622.935364  30.287063
4321    845.083435  30.828883
4322    425.538879  40.715654
4323    428.923096  41.930834
4324    866.067322  22.541604
4326    858.878784  29.318644
4327    433.984253  42.114547
4328    868.553711  42.111110
4329    851.664795  30.006657
4330    334.160309  42.255098
4331    851.653931  29.446273
4332    855.022461  35.600878
4333    435.255066  42.096393
4334    342.619019  36.602158
4335    350.144165  38.426210
4336    868.355286  31.084232

[4082 rows x 2 columns]

In [15]:
width['width'] = 50 - width['length']

In [16]:
width.head(5)

   keyman     heading     length      width
0       1  432.257263  49.999986   0.000014
1       2  355.762207  15.970360  34.029640
2       3  289.011902  18.414908  31.585092
3       4  273.227387  17.759665  32.240335
4       4  273.227387  12.740908  37.259092

In [17]:
width.to_csv('N:\\bandera\GIS\I_width.csv')

In [30]:
street = pd.read_csv('N:\\bandera\GIS\Intersect_SOL.csv')

In [45]:
street.count()

keysol    7884
id        7884
x         7884
y         7884
id2       7884
dtype: int64

In [31]:
street.head(5)

   keysol  id            x            y
0    4282   1  346398.6958  6299570.390
1    4298   2  346424.4173  6299459.074
2     310   3  346428.9511  6299455.496
3    4290   4  346432.7133  6299466.693
4    4298   5  346431.7160  6299459.526

In [32]:
street['id2'] = street['id'] - 1

In [33]:
streetm = pd.merge(street, street, left_on=['keysol','id'], right_on=['keysol','id2'],suffixes=('_L','_R'))

In [46]:
streetm.count()

keysol    53
id_L      53
x_L       53
y_L       53
id2_L     53
id_R      53
x_R       53
y_R       53
id2_R     53
dtype: int64

In [34]:
streetm.head(10)

,keysol,id_L,x_L,y_L,id2_L,id_R,x_R,y_R,id2_R
0,4304,6,346463.9767,6299415.206,5,7,346445.2618,6299413.645,6
1,1209,13,345947.0774,6298319.388,12,14,345947.8926,6298313.402,13
2,1995,34,345222.4566,6297411.477,33,35,345225.1428,6297402.091,34
3,1995,35,345225.1428,6297402.091,34,36,345224.1446,6297405.579,35
4,2763,41,345934.1163,6296481.826,40,42,345931.6774,6296481.948,41
5,2779,43,345937.8146,6296418.219,42,44,345953.2547,6296396.788,43
6,2779,44,345953.2547,6296396.788,43,45,345955.1165,6296394.204,44
7,3228,48,345398.2618,6295822.095,47,49,345390.1035,6295821.736,48
8,3228,49,345390.1035,6295821.736,48,50,345389.1513,6295821.694,49
9,4213,60,343955.9390,6295342.177,59,61,343941.3484,6295349.939,60

In [43]:
streetdd = streetm.drop_duplicates(subset=['keysol'], keep='first')

In [39]:
streetdd.head(10)

,keysol,id_L,x_L,y_L,id2_L,id_R,x_R,y_R,id2_R
0,4304,6,346463.9767,6299415.206,5,7,346445.2618,6299413.645,6
1,1209,13,345947.0774,6298319.388,12,14,345947.8926,6298313.402,13
4,2763,41,345934.1163,6296481.826,40,42,345931.6774,6296481.948,41
9,4213,60,343955.9390,6295342.177,59,61,343941.3484,6295349.939,60
12,4011,69,346793.3837,6294881.864,68,70,346794.5961,6294867.106,69
13,4089,71,346831.2854,6294829.722,70,72,346822.3382,6294829.105,71
16,4146,714,343778.9999,6299404.156,713,715,343765.4097,6299402.890,714
17,4308,962,347668.6180,6299250.192,961,963,347660.1217,6299252.401,962
18,554,1014,345258.3811,6299125.721,1013,1015,345250.9023,6299118.073,1014
19,754,1309,347321.0606,6298883.114,1308,1310,347317.1868,6298882.140,1309

In [40]:
streetdd.to_csv('N:\\bandera\GIS\I_street.csv')

In [44]:
streetdd.count()

keysol    43
id_L      43
x_L       43
y_L       43
id2_L     43
id_R      43
x_R       43
y_R       43
id2_R     43
dtype: int64

In [47]:
street.head(5)

   keysol  id            x            y  id2
0    4282   1  346398.6958  6299570.390    0
1    4298   2  346424.4173  6299459.074    1
2     310   3  346428.9511  6299455.496    2
3    4290   4  346432.7133  6299466.693    3
4    4298   5  346431.7160  6299459.526    4

In [52]:
street.groupby('keysol').size()

keysol
2       2
3       2
4       2
5       2
6       2
7       2
8       2
9       2
10      2
11      2
12      2
13      2
14      1
15      2
16      2
17      2
18      2
19      2
20      2
21      2
22      2
23      2
24      2
25      2
26      2
27      2
28      2
29      2
30      2
31      2
       ..
4306    2
4307    2
4308    4
4309    2
4310    2
4311    2
4312    3
4313    3
4314    3
4315    2
4317    2
4318    2
4319    2
4320    2
4321    2
4322    2
4323    1
4324    1
4325    1
4326    2
4327    1
4328    2
4329    2
4330    1
4331    1
4332    2
4333    1
4334    2
4335    1
4336    2
dtype: int64

In [53]:
street.keysol.value_counts()

2779    8
4213    7
4219    7
651     6
1995    6
3228    6
4089    6
2763    6
3602    5
3114    5
2400    5
3575    5
2749    5
3592    5
3463    5
3586    5
2568    5
4298    5
4255    5
215     5
889     5
2754    5
1930    5
1866    5
2554    5
1778    5
4091    5
1974    5
3585    4
3301    4
       ..
4151    1
57      1
2124    1
51      1
4153    1
3553    1
1680    1
359     1
299     1
1596    1
1604    1
255     1
1640    1
4333    1
4325    1
1672    1
2266    1
207     1
59      1
3745    1
171     1
1780    1
123     1
4217    1
3869    1
3873    1
4169    1
2110    1
1880    1
4053    1
Name: keysol, dtype: int64

In [54]:
street.head(10)

   keysol  id            x            y  id2
0    4282   1  346398.6958  6299570.390    0
1    4298   2  346424.4173  6299459.074    1
2     310   3  346428.9511  6299455.496    2
3    4290   4  346432.7133  6299466.693    3
4    4298   5  346431.7160  6299459.526    4
5    4304   6  346463.9767  6299415.206    5
6    4304   7  346445.2618  6299413.645    6
7     395   8  346732.7473  6299346.934    7
8    4305   9  347313.1528  6299344.467    8
9    4308  10  347633.2580  6299259.385    9

In [56]:
street = pd.read_csv('N:\\bandera\GIS\Intersect_SOL.csv')

In [57]:
street.count()

keysol    7884
id        7884
x         7884
y         7884
dtype: int64

In [58]:
street.head()

   keysol  id            x            y
0    4282   1  346398.6958  6299570.390
1    4298   2  346424.4173  6299459.074
2     310   3  346428.9511  6299455.496
3    4290   4  346432.7133  6299466.693
4    4298   5  346431.7160  6299459.526

In [59]:
streetf = street.drop_duplicates(subset=['keysol'], keep='first')

In [60]:
streetf.count()

keysol    3803
id        3803
x         3803
y         3803
dtype: int64

In [61]:
streetl = street.drop_duplicates(subset=['keysol'], keep='last')

In [62]:
streetl.count()

keysol    3803
id        3803
x         3803
y         3803
dtype: int64

In [63]:
streetf.head()

   keysol  id            x            y
0    4282   1  346398.6958  6299570.390
1    4298   2  346424.4173  6299459.074
2     310   3  346428.9511  6299455.496
3    4290   4  346432.7133  6299466.693
5    4304   6  346463.9767  6299415.206

In [64]:
streetl.head()

    keysol  id            x            y
2      310   3  346428.9511  6299455.496
7      395   8  346732.7473  6299346.934
13    1209  14  345947.8926  6298313.402
64    3839  65  344957.4524  6295072.886
66    3869  67  344957.2454  6295072.879

In [65]:
sc = streetf.loc[streetf.keysol == 2]
print sc

    keysol  id            x            y
79       2  80  343986.2673  6300072.831

In [66]:
sc = streetl.loc[streetl.keysol == 2]
print sc

    keysol  id            x            y
87       2  88  343994.1861  6300073.417

In [67]:
streetr = pd.merge(streetf, streetl, on='keysol')

In [68]:
streetr.count()

keysol    3803
id_x      3803
x_x       3803
y_x       3803
id_y      3803
x_y       3803
y_y       3803
dtype: int64

In [69]:
streetr.to_csv('N:\\bandera\GIS\I_streett.csv')