In [36]:
import pip

def install(package):
   pip.main(['install', package])

install('C:/Users/npalo/Dropbox/bandera/geopy-1.11.0.tar.gz')

Processing c:\users\npalo\dropbox\bandera\vincenty-0.1.4.tar.gz
  Requirement already satisfied (use --upgrade to upgrade): vincenty==0.1.4 from file:///C:/Users/npalo/Dropbox/bandera/vincenty-0.1.4.tar.gz in c:\users\npalo\anaconda2\lib\site-packages
Building wheels for collected packages: vincenty
  Running setup.py bdist_wheel for vincenty: started
  Running setup.py bdist_wheel for vincenty: finished with status 'done'
  Stored in directory: C:\Users\npalo\AppData\Local\pip\Cache\wheels\c7\31\21\0290a74af5894b898310a2cc7c83ad7871004c27eaf445dc9e
Successfully built vincenty

In [37]:
from vincenty import vincenty

In [38]:
import numpy as np
import pandas as pd

In [65]:
df = pd.read_csv('N:\\bandera\GIS\Export_intersect_point.csv')

In [66]:
df = df.rename(columns={'FID_Export_CS_transects':'ID'})

In [75]:
df

    ID    POINT_X    POINT_Y
0    1 -70.651477 -33.440775
1    1 -70.651458 -33.440914
2    2 -70.652114 -33.440340
3    2 -70.652272 -33.440356
4    3 -70.652834 -33.440906
5    3 -70.652815 -33.441043
6    4 -70.650647 -33.440992
7    4 -70.650860 -33.441014
8    5 -70.651406 -33.441233
9    5 -70.651396 -33.441303
10   6 -70.651995 -33.441122
11   6 -70.652157 -33.441140
12   7 -70.650570 -33.441571
13   7 -70.650781 -33.441593
14   8 -70.651296 -33.441918
15   8 -70.651282 -33.442053
16   9 -70.651906 -33.441687
17   9 -70.652068 -33.441705
18  10 -70.652658 -33.442039
19  11 -70.653332 -33.441610
20  11 -70.653441 -33.441622
21  12 -70.650936 -33.442346
22  13 -70.651513 -33.442380

In [82]:
class point():
    def __init__(self, rowNum):
        self.id = df['ID'].ix[rowNum]             # the most important attribute!
        self.x = df['POINT_X'].ix[rowNum]
        self.y = df['POINT_Y'].ix[rowNum]
        
    def getId(self):
        return self.id
    
    def getX(self):
        return self.x
    
    def getY(self):
        return self.y
     
# we should always have a string representation of the object    
    def show(self):                                     
        string = "Point = " + str(self.getId()) + "\n" + "x = " + str(self.getX()) + "\n" + "y = " + str(self.getY()) + "\n"
        print(string)

In [83]:
places = []                       # already used the name 'cities'...

for i in range(df['ID'].count()):       # the method inside will return row 
     temp = point(i)                           # length for the 'city' column.
     places.append(temp)

In [92]:
for j in range(10):           # the data in it's new array of objects format!
    places[j].show()

Point = 1
x = -70.65147728
y = -33.44077526

Point = 1
x = -70.65145846
y = -33.4409141

Point = 2
x = -70.65211382
y = -33.44034024

Point = 2
x = -70.65227175
y = -33.44035636

Point = 3
x = -70.65283434
y = -33.4409062

Point = 3
x = -70.65281542
y = -33.44104272

Point = 4
x = -70.65064716
y = -33.44099213

Point = 4
x = -70.65086025
y = -33.44101423

Point = 5
x = -70.65140608
y = -33.44123304

Point = 5
x = -70.65139624
y = -33.44130343

In [94]:
# a distance function to make my life easier
def distance(a, b):                  # 'a', and 'b' will just be City objects!
    return vincenty(a.getX(), a.getY(), b.getXg(), b.getY(), miles=True)
    print vincenty

In [99]:
vincenty(1,1, miles=True)

TypeError: 'int' object has no attribute '__getitem__'

In [101]:
point1 = (-70.65147728, -33.44077526)
point2 = (-70.65145846, -33.4409141)

In [104]:
print(vincenty(point1, point2))

0.005549

In [107]:
newport_ri = (41.49008, -71.312796)
cleveland_oh = (41.499498, -81.695391)
print(vincenty(newport_ri, cleveland_oh).miles)

AttributeError: 'float' object has no attribute 'miles'

In [108]:
distance = vincenty(point1, point2).kilometers

AttributeError: 'float' object has no attribute 'kilometers'

In [109]:
import pip

def install(package):
   pip.main(['install', package])

install('C:/Users/npalo/Dropbox/bandera/geopy-1.11.0.tar.gz')

Processing c:\users\npalo\dropbox\bandera\geopy-1.11.0.tar.gz
Building wheels for collected packages: geopy
  Running setup.py bdist_wheel for geopy: started
  Running setup.py bdist_wheel for geopy: finished with status 'done'
  Stored in directory: C:\Users\npalo\AppData\Local\pip\Cache\wheels\01\65\ba\67197828a578436594b5a01ed90c0ae3823d82f2022e21e58f
Successfully built geopy
Installing collected packages: geopy
Successfully installed geopy-1.11.0

In [110]:
from geopy.distance import vincenty
newport_ri = (41.49008, -71.312796)
cleveland_oh = (41.499498, -81.695391)
print(vincenty(newport_ri, cleveland_oh).miles)

538.390445157

In [111]:
print(vincenty(point1, point2).meters)

5.54862321456